html(lang='en')
  head
    block head
    meta(charset="UTF-8")
    title #{title}
    script(src="https://code.jquery.com/jquery-3.3.1.min.js", integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.36/dist/web3.min.js" integrity="sha256-nWBTbvxhJgjslRyuAKJHK+XcZPlCnmIAAMixz6EefVk=" crossorigin="anonymous")
    script(src="/assets/js/main.js")
    script(type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
    link(rel="stylesheet", href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
    link(rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico")
    link(rel="stylesheet" type="text/css" href="/assets/css/plugin.css")
    link(rel="stylesheet" type="text/css" href="/assets/css/main.css")
  body
    block header
      //- include header.pug
    block content
    block footer
    //- include footer.pug
    block script
