extends includes/pages-layout.pug

block head
  - title='Writer'

block left
  .pages-title.writer2 Writer
  .upload
    .upload-file
      label(for="cover")
        span.title Book cover
        .choose-group
          input(type="button" id="btn" value="Choose")
          span(id="text") No selected file
          input(type="file" id="cover")
        .upload-btn-group
          .upload-btn
            span UPLOAD
            i
          .upload-note Upload successfully

    .upload-file
      label(for="preview")
        span.title Preview page
        .choose-group
          input(type="button" id="btn" value="Choose")
          span(id="text") No selected file
          input(type="file" id="preview")
        .upload-btn-group
          .upload-btn
            span UPLOAD
            i
          .upload-note Upload successfully

    .upload-file
      label(for="book")
        span.title Book file
        .choose-group
          input(type="button" id="btn" value="Choose")
          span(id="text") No selected file
          input(type="file" id="book")
        .upload-btn-group
          .upload-btn
            span UPLOAD
            i
          .upload-note Upload successfully


  //- a.upload-btn(href='writer2.html')
  //-   span UPLOAD
  //-   i

  


block right
  .writer2-bg
    a.logo(href='index.html')
      img(src='../assets/images/logo.png')

